<div class="uk-modal quizz-modal">
    <div class="uk-modal-dialog">
        <div class="uk-modal-header">
            <h2>Game settings</h2>
        </div>
        <div class="uk-modal-content">
            <div class="uk-flex">
                <form class="uk-form uk-form-horizontal quizz-settings">
                    <div class="uk-form-row">
                        <span class="uk-form-label">Mode</span>
                        <div class="uk-form-controls">
                            <label>
                                <input type="radio" name="mode" value="single" {{#test mode "==" 'single'}}checked{{/test}}>Forever alone
                            </label>
                            <label>
                                <input type="radio" name="mode" value="multi" {{#test mode "==" 'multi'}}checked{{/test}}>Party mode !
                            </label>
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label class="uk-form-label" for="nbItems">How many questions ?</label>
                        <div class="uk-form-controls">
                            <select id="nbItems" name="nbItems">
                                {{#each choices_nbItems}}
                                    <option value="{{ this.value }}" {{#test this.value "==" ../nbItems}}selected{{/test}}>{{ this.label }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label class="uk-form-label" for="nbAnswers">How many choices per question ?</label>
                        <div class="uk-form-controls">
                            <select id="nbAnswers" name="nbAnswers">
                                {{#each choices_nbAnswers}}
                                    <option value="{{ this.value }}" {{#test this.value "==" ../nbAnswers}}selected{{/test}}>{{ this.label }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label class="uk-form-label" for="timer">How long to answer ?</label>
                        <div class="uk-form-controls">
                            <select id="timer" name="timer">
                                {{#each choices_timer}}
                                    <option value="{{ this.value }}" {{#test this.value "==" ../timer}}selected{{/test}}>{{ this.label }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label class="uk-form-label" for="imageSource">Where to pick the images from ?</label>
                        <div class="uk-form-controls">
                            <select id="imageSource" name="imageSource">
                                <option>e621.net</option>
                            </select>
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label class="uk-form-label" for="choices-query">With which query ?</label>
                        <div class="uk-form-controls">
                            <select id="choices-query" name="choices-query">
                                {{#each choices_query}}
                                    <option value="{{ this.value }}">{{ this.label }}</option>
                                {{/each}}
                                <option value="custom">Custom</option>
                            </select>
                            <input name="query" value="{{ choices_query.[0].value }}" readonly disabled>
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label class="uk-form-label" for="tags">What will you have to guess ?</label>
                        <div class="uk-form-controls">
                            <select id="tags" name="tags">
                                {{#each choices_tags}}
                                    <option value="{{ this.value }}" {{#test this.value "==" ../tags}}selected{{/test}}>{{ this.label }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-primary start-game">Begin quizz !</button>
        </div>
    </div>
</div>

<div class="uk-offcanvas multiplayer-infos">
    <div class="uk-offcanvas-bar">
        <div class="uk-panel uk-contrast">
            <h1>Scan to join</h1>
            <div id="qrcode"></div>
            <h1>Players</h1>
            <div class="players"></div>
        </div>
    </div>
</div>